In [ ]:
pip install wooldridge

In [47]:
import numpy as np
import pandas as pd
import wooldridge as wd

In [15]:
wage = wd.data('wage1')[['wage', 'educ', 'exper']]

In [16]:
wage

      wage  educ  exper
0     3.10    11      2
1     3.24    12     22
2     3.00    11      2
3     6.00     8     44
4     5.30    12      7
..     ...   ...    ...
521  15.00    16     14
522   2.27    10      2
523   4.67    15     13
524  11.56    16      5
525   3.50    14      5

[526 rows x 3 columns]

In [13]:
y = wage['wage'].to_numpy()

In [19]:
x = wage[['educ','exper']].to_numpy()
x

array([[11,  2],
       [12, 22],
       [11,  2],
       ...,
       [15, 13],
       [16,  5],
       [14,  5]])

In [20]:
x.T

array([[11, 12, 11, ..., 15, 16, 14],
       [ 2, 22,  2, ..., 13,  5,  5]])

In [21]:
x.T.dot(x)

array([[ 87040, 106539],
       [106539, 249027]])

In [23]:
np.linalg.inv(x.T.dot(x))

array([[ 2.41194181e-05, -1.03187955e-05],
       [-1.03187955e-05,  8.43022706e-06]])

In [24]:
betas = np.linalg.inv(x.T.dot(x)).dot(x.T.dot(y))
betas

array([0.41704634, 0.04543817])

In [ ]:
x.dot(betas)

In [27]:
y_est = x.dot(betas)

In [ ]:
y-y_est

In [29]:
u_est = y - y_est

In [30]:
y.shape

(526,)

In [33]:
n,k = x.shape
n,k

(526, 2)

In [34]:
sum(u_est**2)

5755.692073126875

In [35]:
desv_est = sum(u_est**2)/n,k
desv_est

(10.942380367161359, 2)

In [36]:
x.T

array([[11, 12, 11, ..., 15, 16, 14],
       [ 2, 22,  2, ..., 13,  5,  5]])

In [37]:
x.T.dot(x)

array([[ 87040, 106539],
       [106539, 249027]])

In [39]:
ee = np.diag(np.sqrt(np.linalg.inv(x.T.dot(x))*desv_est))

<ipython-input-39-b27e70d76e70>:1: RuntimeWarning: invalid value encountered in sqrt
  ee = np.diag(np.sqrt(np.linalg.inv(x.T.dot(x))*desv_est))

In [40]:
betas/ee

array([25.67113054, 11.06588532])

In [41]:
t = betas/ee
t

array([25.67113054, 11.06588532])

In [44]:
int_confianza_sup = betas + 1.96*(ee)
int_confianza_sup

array([0.44888797, 0.05348622])

In [45]:
int_confianza_inf = betas - 1.96*(ee)
int_confianza_inf

array([0.3852047 , 0.03739012])